* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 4fr;
}

.header{
  background-color: red;
  grid-column: 2 / 4;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.search-container{
  display: flex;
}
.icon{
  width: 2rem;
  height: 2rem;
  background-color: wheat;
}
input,form {
  width: 75%;
  padding: 5px;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* right upper side */
.right-account{
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  gap: 20px;
}

.sidebar {
  background-color: blue;
  grid-column: 1;
  grid-row: 1 / 3;
}

.projects {
  background-color: yellow;
  grid-column: 2;
  grid-row:  span 2;
  }
.left-bar{
  background-color: purple;
  grid-column: 3;
}

