/* google font */
.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
html {
  font-size: 16px;
}
* {
  /* outline: 1px black solid; */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto",sans-serif;
  --sidebar-color : rgb(86, 192, 235);
}

.main-container {
  background-color:rgba(57, 80, 109, 0.155);
  display: grid;
  height: 100%;
  grid-template-columns :minmax(150px, 1fr) minmax(300px, 3fr) minmax(150px, 1fr);
  grid-template-rows: 1fr minmax(30px,50px) 4fr;
}

.header{
  box-shadow: 5px 4px 4px rgba(167, 167, 167, 0.379);
  min-width: 0;
  background-color: white;
  grid-column: 2 / 4;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.search-bar{
  margin-top: 0.3rem;
}
.search-container{
  display: flex;
  gap: 10px;
  height: 1.8rem;
}
/* icon base properties */
.icon{
  width: 22px;
  height: 22px;
  /* background-color: rgb(255, 245, 227); */
  background-repeat: no-repeat;
  background-size: contain;
}
form {
  width: 75%;
  margin-right: 20px;
}
input {
  width: 100%;
  background-color: rgba(141, 161, 174, 0.153);
  height: 100%;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

.search-icon {
  background-image: url(images/magnify.png);

}

/* right upper side */

.right-account{
  display: flex;
  background-color: white;
  gap: 1.2rem;
  height: 2.5rem;
  align-items: center;
  justify-content: end;
  font-weight: 700;
}

.bell{
  background-image: url(images/bell.png);
}
.profile-image{
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(images/pumpkin.png);
}
/* header bottom left */
.welcome-msg{
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  height: 4rem;
  align-items: center;
  line-height: 1.7rem;
  font-weight: 700;
  font-size: clamp(1rem, 1.5vw, 1.25rem);

}
#name-large{
  font-size: 1.3rem;
}
.profile-image-large{
  background-image: url(images/pumpkin.png);
  width: 4rem;
  height: 4rem;
}

/* bottom header right */
.account-actions{
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
  height: 4rem;
  align-items: center;
}

.btn {
  min-width: 0;
  flex: 1;
  background-color: var(--sidebar-color);
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1.04em;
  height: 3rem;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  cursor: pointer;
}

button:active{
  background-color: rgb(8, 8, 118);
}
/* TODO fix the overflow when screen gets less than 800px */

/* SideBar */
.sidebar {
  background-color: var(--sidebar-color);
  grid-column: 1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 40px; 
  padding-left: 17px; 
  padding-top: 15px;
}

.sidebar-item{
  display: flex;
  gap: 20px;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 15px;
  cursor: pointer;
}
.sidebar-item:active{
  color: black;
}

.first-section .sidebar-item .icon,
.second-section .sidebar-item .icon{
  width: 24px;
  height: 24px;
}
.dashboard-icon{
  width: 40px;
  height: 40px;
  background-image: url(images/dashboard.png);
}

.home-icon{
  background-image: url(images/home.png);
}
.profile-icon{
  background-image: url(images/profile.png);
}
.msg-icon{
  background-image: url(images/communities.png);
}
.history-icon{
  background-image: url(images/history.png);
}
.task-icon{
  background-image: url(images/tasks.png);
}
.communitie-icon{
  background-image: url(images/communities.png);
}
.sidebar-item p {
  font-size: 1.4rem;
  font-weight: 700;
}
.setting-icon{
  background-image: url(images/settings.png);
}
.support-icon{
  background-image: url(images/help.png);
}
.Privacy-icon{
  background-image: url(images/privacy.png);
}
.above-section-text{
  grid-column: 2 / 4;
  grid-row: 2;
  padding: 30px 155px 20px 20px;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: space-between;

}

/* Projects */

.projects-container {
  grid-column: 2;
  grid-row:  3 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3,1fr);
  gap: 30px;
  font-weight: 500;

  padding: 20px;
  margin-bottom: 40px;

  }
.project-card{
  background-color: white;
  border-left: 10px solid rgb(255, 166, 0);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(143, 143, 143, 0.363);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 20px;
}
.project-card h2 { 
  font-size: 20px;
}
.project-card p{
  margin-top: 5px;
  font-weight: 300;
  font-size: 15px;
  max-width: 80%;
  text-align: justify;
}
.project-icons-row{
  display: flex;
  justify-content: end;
  gap: 40px;
}
.star-icon{
  background-image: url(images/star.png);
}
.eye-icon{
  background-image: url(images/eye.png);
}
.branch-icon{
  background-image: url(images/branch.png);
}


/* left bar */
.left-bar{
  background-color: purple;
  grid-column: 3;
  grid-row: 3 / -1;
  margin-bottom: 60px;
}
